# Keno Playground

In [1]:
import numpy as np
import pandas as pd

keno_master_r = '../data/keno/master/keno_master_r.pkl';
#keno_master_r = '../data/keno/master/keno_master_r.pkl';
#keno_master_dr = '../data/keno/master/keno_master_dr.pkl';
#keno_master_dp = '../data/keno/master/keno_master_dp.pkl';

In [2]:
# Merge DF_R, DF_DR, and DF_DP to create Master Pickle file
DF_R = pd.read_pickle(keno_master_r)
DF_DR = pd.read_pickle(keno_master_dr)
DF_DP = pd.read_pickle(keno_master_dp)
master = DF_R.join(DF_DR)
master = master.join(DF_DP)
master.to_pickle('../data/keno/master/keno_master.pkl')

In [5]:
# Create DF_R, DF_DR, DF_DP from DB
r = iresult.iResult();
df_r = r.get_dataframe()
df_r.to_pickle('../data/keno/master/keno_master_r.pkl')

dr = idraw.iDraw();
df_dr = dr.get_dataframe()
df_dr.to_pickle('../ai_lotto/data/keno/master/keno_master_dr.pkl')

NameError: name 'iresult' is not defined

In [ ]:
#load result master
keno_master_r = '../ai_lotto/data/keno/master/keno_master_r.pkl'
df_r = pd.read_pickle(keno_master_r);
df_r = df_r.set_index('draw_id')
df_r

In [ ]:
#create an empty draw df
def get_draw_columns():
        i=1; drs=[];
        while(i<=80):
            drs.append('dr'+str(i));
            i+=1;        
        return drs;
np_dr = np.zeros(shape=(2529015, 80), dtype=np.int8)
dr_cols = get_draw_columns()
df_dr = pd.DataFrame(np_dr, columns=dr_cols, index=df_r.index)
#df_dr = df_dr.set_index('draw_id')
df_dr.to_pickle('../ai_lotto/data/keno/master/keno_master_dr.pkl')

In [3]:
import numpy as np
import pandas as pd

keno_master_r = '../ai_lotto/data/keno/master/keno_master_r.pkl'
#keno_master_dr = '../ai_lotto/data/keno/master/keno_master_dr.pkl'
DF_R = pd.read_pickle(keno_master_r)
#DF_R = DF_R.set_index('draw_id');
#DF_DR = pd.read_pickle(keno_master_dr)
#DF_DR = DF_DR.set_index('draw_id');
DF_R

,date_time,r1,r2,r3,r4,r5,r6,r7,r8,r9,...,r12,r13,r14,r15,r16,r17,r18,r19,r20,mega
draw_id,,,,,,,,,,,,,,,,,,,,,
1,1995-11-26 06:30:00,1,3,11,13,19,20,22,28,29,...,46,50,51,53,54,57,64,76,78,0.0
2,1995-11-26 06:35:00,1,2,6,10,14,21,27,29,30,...,40,42,50,51,53,54,61,65,69,0.0
3,1995-11-26 06:40:00,2,10,16,21,23,32,33,44,49,...,60,66,68,69,71,73,74,75,79,0.0
4,1995-11-26 06:45:00,14,16,22,25,26,28,34,39,41,...,49,51,58,62,63,68,70,76,77,0.0
5,1995-11-26 06:50:00,3,10,11,14,19,20,21,22,27,...,30,50,51,56,68,72,74,76,79,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529011,2020-02-01 03:46:00,3,6,8,11,13,21,22,27,34,...,48,49,50,53,54,61,68,73,75,2.0
2529012,2020-02-01 03:49:30,3,8,11,12,16,19,24,41,44,...,53,54,55,56,59,67,74,75,77,1.0
2529013,2020-02-01 03:53:00,5,6,7,9,16,17,22,26,28,...,41,45,49,59,61,66,71,75,76,1.0
2529014,2020-02-01 03:56:30,2,5,8,10,12,26,27,40,45,...,53,56,60,63,65,72,73,76,78,5.0
2529015,2020-02-01 04:00:00,10,12,17,19,25,27,34,37,40,...,52,56,57,60,65,74,76,79,80,1.0

In [ ]:
row=1; row_end=2529015; col=1; col_end=20  
while (row <= row_end):    
    col=1;
    while(col <= col_end):
        DF_DR.at[row,'dr' + str(DF_R.at[row,'r'+str(col)])] = 1
        col+=1;
    row += 1;

DF_DR.to_pickle('../ai_lotto/data/keno/master/keno_master_drr.pkl')

In [ ]:
import pandas as pd
DRR = pd.read_pickle('../ai_lotto/data/keno/master/keno_master_drr.pkl')
DRR

In [5]:
#create an empty draw df
def get_dep_columns():
        i=1; dps=[];
        while(i<=80):
            dps.append('dp'+str(i));
            i+=1;        
        return dps;
np_dp = np.zeros(shape=(2529015, 80), dtype=np.int8)
dp_cols = get_dep_columns()
DF_DP = pd.DataFrame(np_dp, columns=dp_cols, index=DF_R.index)
#df_dr = df_dr.set_index('draw_id')
DF_DP.to_pickle('../ai_lotto/data/keno/master/keno_master_dp.pkl')
DF_DP

,dp1,dp2,dp3,dp4,dp5,dp6,dp7,dp8,dp9,dp10,...,dp71,dp72,dp73,dp74,dp75,dp76,dp77,dp78,dp79,dp80
draw_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2529012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2529013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2529014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2529015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
#start row1 with 1
DF_DP.loc[1] = DF_DP.loc[1] + 1;
DF_DP

,dp1,dp2,dp3,dp4,dp5,dp6,dp7,dp8,dp9,dp10,...,dp71,dp72,dp73,dp74,dp75,dp76,dp77,dp78,dp79,dp80
draw_id,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2529012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2529013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2529014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2529015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# now reset picked numbers for DRAW_1 to 0
row=1; row_end=2529015; col=1; col_end=20  
while (row <= row_end):    
    col=1;
    while(col <= col_end):
        #reset picked nums to 0
        DF_DP.at[row,'dp' + str(DF_R.at[row,'r'+str(col)])] = 0
        col+=1;
    #copy the current row to next row and increment it by 1
    DF_DP.loc[row+1] = DF_DP.loc[row] + 1;
    row += 1;

DF_DP.to_pickle('../ai_lotto/data/keno/master/keno_master_dpp.pkl')

In [11]:
import pandas as pd
dpp = pd.read_pickle('../ai_lotto/data/keno/master/keno_master_dpp.pkl')
dpp

,dp1,dp2,dp3,dp4,dp5,dp6,dp7,dp8,dp9,dp10,...,dp71,dp72,dp73,dp74,dp75,dp76,dp77,dp78,dp79,dp80
draw_id,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,0,1,1
2,0,0,1,2,2,0,2,2,2,0,...,2,2,2,2,2,1,2,1,2,2
3,1,0,2,3,3,1,3,3,3,0,...,0,3,0,0,0,2,3,2,0,3
4,2,1,3,4,4,2,4,4,4,1,...,1,4,1,1,1,0,0,3,1,4
5,3,2,0,5,5,3,5,5,5,0,...,2,0,2,0,2,0,1,4,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529012,3,3,0,2,2,1,2,0,5,4,...,3,5,1,0,0,5,0,4,7,6
2529013,4,4,1,3,0,0,0,1,0,5,...,0,6,2,1,0,0,1,5,8,7
2529014,5,0,2,4,0,1,1,0,1,0,...,1,0,0,2,1,0,2,0,9,8
2529015,6,1,3,5,1,2,2,1,2,0,...,2,1,1,0,2,0,3,1,0,0
2529016,7,2,4,6,2,3,3,2,3,1,...,3,2,2,1,3,1,4,2,1,1

In [ ]:
df_dp.at[5,'dp5'] = 0
df_dp.loc[6] = df_dp.loc[5]+1
df_dp[3:7]